
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.imageTile {
    max-height: 15rem;
    max-width: 15rem;
    grid-column: 1 / 4;
    grid-row: 1;
}

.no-image {
    display: none;
}