body {
  font-family: sans-serif;
  padding-left: 100px;
  padding-right: 100px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.single-grid-image {
  max-width: 100%;
  grid-column: 1 / 4;
  grid-row: 1;
  margin: 0;
  box-sizing: border-box;
}

.caption-text {
  font-size: .875rem;
  line-height: 22px;
  margin-bottom: 0.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: left;
  width: 75%;
}

.title-caption-text {
  color: rgba(0, 0, 0, 0.65);
  font-weight: 400;
}

.person-caption-text {
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
}

.classification-caption-text {
  color: rgba(0, 0, 0, 0.35);
  font-weight: 400;
}

.exhibition-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 10px;
  grid-auto-rows: minmax(300px, auto);
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

.exhibition-image {
  object-fit: cover;
  border: 1px;
  max-height: 15rem;
  max-width: 15rem;
  overflow: hidden;
}

.logo-navbar {
  width: 100%;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
}

.logo {
  width: 11rem;
}

.reference-header {
  padding: 2rem;
}

.video-box {
  width: 80vw;
  padding: 2rem;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto 4rem auto;
  justify-content: space-evenly;
  border-radius: 5px;
}

iframe {
  position: relative;
  background-color: black;
  margin: 2rem auto 0rem auto;
  width: 300px;
  height: auto;
  margin-top: -1.5rem;
}

.video-description {
  text-align: start;
  width: 250px;
  height: fit-content;
  margin: 0 auto;
  font-size: .8rem;
}

.video-container {
  height: fit-content;
  background-color: white;
  padding: 3rem 1rem 1rem 1rem;
  width: 350px;
  box-shadow: 2px 2px 5px silver;
  margin: 3rem auto;
}